<h1>View Plates</h1>
<%= link_to "Go back", injuries_path, :class => 'btn btn-default'%>
<%= link_to "Edit", edit_injury_path(@injury), :class => 'btn btn-default'%>
<%= link_to "Delete", injury_path(@injury), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, :class => 'btn btn-danger'%>
<br>
<h3>Report</h3>
<p><b>Plate Name: </b><%= @injury.sport %></p>
<p><b>Leader: </b><%= @injury.name %></p>
<p><b>Drying?: </b><%= @injury.exposure%></p>
<p><b>Date: </b><%= @injury.date %></p>
<p><b>General Notes: </b><%= @injury.reportnotes %></p><br>
<h3>Materials/Testing</h3>

<p><b>Elements: </b><%= @injury.part %></p>
<p><b>Test Rating: </b><%= @injury.injurytype %></p>
<p><b>Applied Voltage: </b><%= @injury.symptoms %></p>
<p><b> </b> Testing notes: </b><%= @injury.injurynotes %></p><br>

<h3>Kiln</h3>
<p><b>Kiln Temp:</b> <%= @injury.immediatetreatment %></p>
<p><b>Kilned date: </b></b><%= @injury.returndate %></p>
    <% if @injury.returned == "true"%>
    <p><b>Testable?:</b>
        Yes
    </p>
    <%else%>
    <p><b>Testable?</b>
        No
    </p>
    <%end%>
<p><b>Kiln Notes (time): </b><%= @injury.treatmentnotes %></p>

<br>
        
        <%= link_to "Download PDF version",  injuries_generate_path(:id => @injury.id)%>
        <br><br>

<br>
       <% if @injury.attachment.attached? %>
        <div class= "injury_attachment">
     
       
            <%= link_to "Download Attachment", url_for(@injury.attachment),target: :_blank %>
            <br>
                     <br>
        Currently attached: <%= @injury.attachment.filename %>
        <br><br>
            </div>
        <%end%>
        
        
        
        
<hr>



